.top {
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* width: 60%; */
  padding: 15px;
  margin: 5px auto;
}

.good,
.bad {
  height: 50px;
  text-align: center;
  padding: 3px;
}

.good {
  background-color: #558754fe;
  border-radius: 40px 0px 0px 0px;
}

.bad {
  background-color: #ad2327c0;
  border-radius: 0px 0px 40px 0px;
}
