.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5px;
  width: 60%;
  padding: 15px;
  margin: 5px auto;
}

.good,
.bad {
  height: 50px;
  text-align: center;
  padding: 3px;
}

.good {
  background-color: rgb(47, 90, 47);
  border-radius: 40px 0px 0px 0px;
}

.bad {
  background-color: #6d312e;
  border-radius: 0px 0px 40px 0px;
}
