.App {
  text-align: center;
}

.App-header {
  background-color: #555988;
  min-height: 100vh;
  color: white;
  padding: 30px;
}

.img {
  height: 100%;
  width: 100%;
  animation: scale 1s linear;
}

@keyframes scale {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.copyRight {
  position: fixed;
  width: 100%;
  margin: auto;
  /* left: 10px; */
  bottom: 5px;
  text-align: center;
  color: #f59395d3;
}
